<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>日志管理</title>
    <meta name="keywords" content="用户管理">
    <meta name="description" content="用户管理">

    <link rel="shortcut icon" href="favicon.ico">
    <link th:href="(${@viewConfig.getRemoteViewUrl()})+'asset/js/bootstrap/css/bootstrap.min.css'"
          href="../asset/js/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="(${@viewConfig.getRemoteViewUrl()})+'asset/css/fonts/iconfont.css'"
          href="../asset/css/fonts/iconfont.css" rel="stylesheet">
    <link th:href="(${@viewConfig.getRemoteViewUrl()})+'asset/js/plugins/jqgrid/ui.jqgridffe4.css'"
          href="../asset/js/plugins/jqgrid/ui.jqgridffe4.css" rel="stylesheet">
    <link th:href="(${@viewConfig.getRemoteViewUrl()})+'asset/css/animate.min.css'" href="../asset/css/animate.min.css"
          rel="stylesheet">
    <link th:href="(${@viewConfig.getRemoteViewUrl()})+'asset/css/style.min862f.css'"
          href="../asset/css/style.min862f.css" rel="stylesheet">


</head>

<body class="gray-bg">
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="ibox ">
        <div class="ibox-title ">
            <div class="row">
                <form class="form-inline" id="formSearch">
                    <div class="col-sm-3 form-group">
                        <label style="width: 60px">标题</label>
                        <input type="text" name="loginName" placeholder="请输入标题" class="form-control">
                    </div>
                    <div class="col-sm-9 form-group">
                        <button id="btnSearch" class="btn btn-warning btn-sm" type="button"
                                style="float: right; margin-left: 10px"><i class="icon egojit-front icon-search"></i>&nbsp;搜索
                        </button>

                    </div>

                </form>
            </div>

        </div>
        <div class="ibox-content">
            <div class="jqGrid_wrapper">
                <table id="table_list"></table>
                <div id="pager_list"></div>
            </div>
        </div>
    </div>
</div>

<script th:src="(${@viewConfig.getRemoteViewUrl()})+'asset/js/jquery/jQuery-2.2.0.min.js'"
        src="../asset/js/jquery/jQuery-2.2.0.min.js"></script>
<script th:src="(${@viewConfig.getRemoteViewUrl()})+'asset/js/bootstrap/js/bootstrap.min.js'"
        src="../asset/js/bootstrap/js/bootstrap.min.js"></script>
<script th:src="(${@viewConfig.getRemoteViewUrl()})+'asset/js/plugins/peity/jquery.peity.min.js'"
        src="../asset/js/plugins/peity/jquery.peity.min.js"></script>
<script th:src="(${@viewConfig.getRemoteViewUrl()})+'asset/js/plugins/jqgrid/i18n/grid.locale-cnffe4.js'"
        src="../asset/js/plugins/jqgrid/i18n/grid.locale-cnffe4.js"></script>
<script th:src="(${@viewConfig.getRemoteViewUrl()})+'asset/js/plugins/jqgrid/jquery.jqGrid.minffe4.js'"
        src="../asset/js/plugins/jqgrid/jquery.jqGrid.minffe4.js"></script>
<script th:src="(${@viewConfig.getRemoteViewUrl()})+'asset/js/plugins/layer/layer.js'"
        src="../asset/js/plugins/layer/layer.js"></script>
<script th:src="(${@viewConfig.getRemoteViewUrl()})+'asset/js/comm.js'" src="../asset/js/comm.js"></script>
<!--<script src="js/content.min.js?v=1.0.0"></script>-->
<script>
    $(document).ready(function () {

        $("#btnDetail").click(function () {
            app.windows("详情", "/admin/log/detail", "900px", "500px");
        });
        //列表初始化
        app.list({
            url: "/admin/log/index",
            colNames: ["标题", "请求方式", "请求地址", "时间", "操作"],
            colModel: [{
                name: "title",
                index: "title",
                editable: true,
                width: 70
            }, {name: "method", index: "method", editable: true, width: 30},
                {
                    name: "requestUri",
                    index: "requestUri",
                    editable: true,
                    width: 100
                }, {
                    name: "createDate",
                    index: "createDate",
                    editable: true
                },
                {
                    name: "id",
                    index: "id",
                    width: 60,
                    formatter: function (cellvalue, options, rowObject) {
                        return '<span class="center-block text-center">' +
                            '<button id="btnDetail"  class="btn btn-default btn-xs" type="button" style="margin-right: 5px;margin-left: 5px"><i class="icon egojit-front icon-delete"></i>&nbsp;删除</button>' +
                            '</span>';
                    }
                }
            ]
        });

    });
</script>
</body>
</html>
