<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egojit.easyweb.upms.dao.mapper.SysMenuMapper">
  <resultMap id="BaseResultMap" type="com.egojit.easyweb.upms.model.SysMenu">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="parent_ids" jdbcType="VARCHAR" property="parentIds" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sort" jdbcType="DECIMAL" property="sort" />
    <result column="href" jdbcType="VARCHAR" property="href" />
    <result column="target" jdbcType="VARCHAR" property="target" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="is_show" jdbcType="CHAR" property="isShow" />
    <result column="permission" jdbcType="VARCHAR" property="permission" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
  </resultMap>
  <select id="selectByUserId" resultMap="BaseResultMap" resultType="com.egojit.easyweb.upms.model.SysMenu">
    SELECT DISTINCT
    a.*
    FROM sys_menu a
    LEFT JOIN sys_menu p ON p.id = a.parent_id
    JOIN sys_role_menu rm ON rm.menu_id = a.id
    JOIN sys_role r ON r.id = rm.role_id AND r.useable='1'
    JOIN sys_user_role ur ON ur.role_id = r.id
    JOIN sys_user u ON u.id = ur.user_id AND u.id = #{userId}
    WHERE a.del_flag = '0' AND r.del_flag = '0' AND u.del_flag = '0'
    ORDER BY a.sort
  </select>
</mapper>