<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egojit.easyweb.upms.dao.mapper.SysRoleMapper">
  <resultMap id="BaseResultMap" type="com.egojit.easyweb.upms.model.SysRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="office_id" jdbcType="VARCHAR" property="officeId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="enname" jdbcType="VARCHAR" property="enname" />
    <result column="role_type" jdbcType="VARCHAR" property="roleType" />
    <result column="data_scope" jdbcType="CHAR" property="dataScope" />
    <result column="is_sys" jdbcType="VARCHAR" property="isSys" />
    <result column="useable" jdbcType="VARCHAR" property="useable" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
  </resultMap>

</mapper>