

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>用户管理</title>
    <meta name="keywords" content="用户管理">
    <meta name="description" content="用户管理">

    <link rel="shortcut icon" href="favicon.ico">
    <link th:href="(${@viewConfig.getRemoteViewUrl()})+'asset/js/bootstrap/css/bootstrap.min.css'" href="../asset/js/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="(${@viewConfig.getRemoteViewUrl()})+'asset/css/fonts/iconfont.css'"  href="../asset/css/fonts/iconfont.css" rel="stylesheet">
    <link th:href="(${@viewConfig.getRemoteViewUrl()})+'asset/js/plugins/jqgrid/ui.jqgridffe4.css'"  href="../asset/js/plugins/jqgrid/ui.jqgridffe4.css" rel="stylesheet">
    <link th:href="(${@viewConfig.getRemoteViewUrl()})+'asset/css/animate.min.css'" href="../asset/css/animate.min.css" rel="stylesheet">
    <link th:href="(${@viewConfig.getRemoteViewUrl()})+'asset/css/style.min862f.css'" href="../asset/css/style.min862f.css" rel="stylesheet">


</head>

<body class="gray-bg">
<div class="animated fadeInRight">
    <div class="ibox ">
        <div class="ibox-title ">
            <div class="row">
                <form class="form-inline">
                    <div class="col-sm-3 form-group">
                        <label style="width: 60px">登录名</label>
                        <input type="email" placeholder="请输入您注册的E-mail" class="form-control">
                    </div>
                    <div class="col-sm-3 form-group">
                        <label style="width: 60px">姓名</label>
                        <input type="password" placeholder="请输入密码" class="form-control">
                    </div>
                    <div class="col-sm-6 form-group">
                        <button id="btnDetail"  class="btn btn-default btn-sm" type="button" style="float: right; margin-left: 10px"><i class="icon egojit-front icon-delete"></i>&nbsp;删除</button>

                        <button id="btnAdd"  class="btn btn-primary btn-sm" type="button" style="float: right;"><i class="icon egojit-front icon-add"></i>&nbsp;添加</button>
                    </div>

                </form>
            </div>
            <!--<div class="row">-->
                <!--<div class="col-lg-12">-->

                <!--</div>-->
            <!--</div>-->

        </div>
        <div class="ibox-content">
            <div class="jqGrid_wrapper">
                <table id="table_list_2"></table>
                <div id="pager_list_2"></div>
            </div>
        </div>
    </div>
</div>

<script th:src="(${@viewConfig.getRemoteViewUrl()})+'asset/js/jquery/jQuery-2.2.0.min.js'" src="../asset/js/jquery/jQuery-2.2.0.min.js"></script>
<script th:src="(${@viewConfig.getRemoteViewUrl()})+'asset/js/bootstrap/js/bootstrap.min.js'" src="../asset/js/bootstrap/js/bootstrap.min.js"></script>
<script th:src="(${@viewConfig.getRemoteViewUrl()})+'asset/js/plugins/peity/jquery.peity.min.js'" src="../asset/js/plugins/peity/jquery.peity.min.js"></script>
<script th:src="(${@viewConfig.getRemoteViewUrl()})+'asset/js/plugins/jqgrid/i18n/grid.locale-cnffe4.js'" src="../asset/js/plugins/jqgrid/i18n/grid.locale-cnffe4.js"></script>
<script th:src="(${@viewConfig.getRemoteViewUrl()})+'asset/js/plugins/jqgrid/jquery.jqGrid.minffe4.js'" src="../asset/js/plugins/jqgrid/jquery.jqGrid.minffe4.js"></script>
<script th:src="(${@viewConfig.getRemoteViewUrl()})+'asset/js/plugins/layer/layer.js'" src="../asset/js/plugins/layer/layer.js"></script>
<script th:src="(${@viewConfig.getRemoteViewUrl()})+'asset/js/comm.js'" src="../asset/js/comm.js"></script>
<!--<script src="js/content.min.js?v=1.0.0"></script>-->
<script>
    $(document).ready(function () {

        $("#btnAdd").click(function(){
            app.windows("编辑","/admin/user/add","900px","500px");
        });
        $("#btnDetail").click(function(){
            app.windows("详情","/admin/user/detail","900px","500px");
        });

        $.jgrid.defaults.styleUI = "Bootstrap";
        $("#table_list_2").jqGrid({
            url: "/admin/user/index",
            datatype: "json",
            mtype:"post",
            height: 'auto',
            autowidth: true,
            shrinkToFit: true,
            rowNum: 10,
            rowList: [10, 20, 30],
            multiselect: true,//复选框
            colNames: ["序号", "登录名","姓名", "邮箱", "手机号", "电话","操作"],
            colModel: [{
                name: "id",
                index: "id",
                width: 20,
                sorttype: "int",
                search: true
            },{
                    name: "loginName",
                    index: "loginName",
                    width: 60
                }
            , {
                name: "name",
                index: "name",
                editable: true,
                width: 90
            }, {name: "email", index: "email", editable: true, width: 100},
                {
                    name: "phone",
                    index: "phone",
                    editable: true,
                    width: 100
                }, {
                    name: "mobile",
                    index: "mobile",
                    width: 60
                },
                {
                    name: "id",
                    index: "id",
                    width: 60,
                    formatter:function (cellvalue, options, rowObject) {
                       return '<span class="center-block text-center">' +
                           '<button  class="btn btn-info btn-xs " type="button" style="margin-right: 2px" ><i class="icon egojit-front icon-edit"></i>&nbsp;修改</button>' +
                           '<button id="btnDetail"  class="btn btn-default btn-xs" type="button" style="margin-left: 2px"><i class="icon egojit-front icon-delete"></i>&nbsp;删除</button>'+
                           '</span>';
                    }
                }
                ],
            pager: "#pager_list_2",
            prmNames:{page:"pageNo",rows:"pageSize"},
            viewrecords: true,
            add: true,
            edit: true,
            addtext: "Add",
            edittext: "Edit",
            hidegrid: false
        });
        $("#table_list_2").jqGrid("navGrid", "#pager_list_2", {
            edit: true,
            add: true,
            del: true
        }, {height: 200, reloadAfterSubmit: true});
        $("#table_list_2").setGridHeight($(window).height() - 190);
        $(window).bind("resize", function () {
            $(window).unbind("onresize");
            var width = $(".jqGrid_wrapper").width();
            $("#table_list_2").setGridWidth(width);
            $("#table_list_2").setGridHeight($(window).height() - 190);
            $(window).bind("onresize", this);
        })
    });
</script>
</body>
</html>
